/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(60deg, #3778c2, rgb(32, 32, 186));
  background-repeat: no-repeat;
  background-size: cover;
}

.back,
.sign-out-btn {
  color: white;
  padding: 1.5vw;
  border: groove 1.5px white;
  border-radius: 5px;
  background-color: #5fb523;
  font-weight: 700;
  font-size: 2vw;
  text-decoration: none;
  width: initial;
  text-align: center;
  margin-left: 3vw;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

.sign-out-btn {
  position: absolute;
  top: 3vw;
  right: 3vw;
}

.mg-3 {
  margin: 3vw;
}

.a-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a-box > a {
  max-width: max-content;
  margin: 0;
  border: none;
  background-color: inherit;
}
